@blue: #1d2631;
@blue-30: fade(@blue, 30%);
@blue-dark: #283645;
@blue-light: #485461;
@blue-dark-10: fade(@blue-dark, 10%);
@white: #ffffff;
@black: #000000;
@black-22: fade(@black, 22%);
@black-25: fade(@black, 25%);
@pink: #d22856;
@pink-30: fade(@pink, 30%);
@grey: #bec2c7;
@light-grey: #f2f2f2;
@grey-medium: #dddfe0;
@grey-strong: #e5e5e5;
@green: #2aab6d;
@tablet-width: 660px;
@desktop-width: 960px;
@desktop-width-only: 960px;
