.application {
  padding: 0;

  list-style: none;
}

.application__item {
  margin-right: 34px;

  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  line-height: 24px;
  color: @white;
}

.application__item:last-child {
    margin-right: 0;
}
