.buttons {
  padding-top: 38px;
}

@media (min-width: @tablet-width) {
  .buttons {
    padding-top: 39px;
  }
}

@media (min-width: @desktop-width) {
  .buttons {
    padding-top: 118px;
  }
}

@media (min-width: @desktop-width) {
  .buttons__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

