.button {
  display: block;
  padding: 17px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @white;
  text-align: center;
  text-decoration: none;

  border: none;
}

.button--round {
  border: 2px solid @white;
  border-radius: 50px;
}

.button--white {
  color: @white;

  background: none;
}

.button--send {
  color: @pink;

  background: none;
  border: 2px solid @pink;
}

.button--cancel {
  color: grey-medium-10;

  background: none;
  border: 2px solid grey-medium-10;
}


