.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  display: block;

  padding: 17px;

  text-align: center;
  text-decoration: none;
  color: @white;

  border: none;
}

.button--round {
  line-height: 18px;

  border: 2px solid @white;
  border-radius: 50px;
}

.button--white {
  color: @white;
  background: none;
}
