.contacts__text {
  margin: 0;

  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  line-height: 30px;
  color: @blue-dark;
  text-align: center;
}

.contacts__text--title {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .contacts__text--title {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 40px;
    line-height: 50px;
  }
}

.contacts__title {
  margin: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @blue-dark;
  text-align: center;
}

.contacts__text--link {
  display: block;

  font-weight: 100;
  color: @pink;

  text-decoration: none;
}

.contacts__cell {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .contacts__cell {
    padding: 20px 20px 25px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__cell--mail {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .contacts__cell--address {
    order: 2;
  }
}
