.control {
  min-height: 24px;
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .control {
    width: 203px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 20px;

    border-bottom: 1px solid @grey-medium;
  }

  .control:last-child {
    padding-top: 25px;
    padding-bottom: 19px;
  }
}

@media (min-width: @desktop-width) {
  .control {
    width: 314px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 20px;

    border-bottom: 1px solid @grey-medium;
  }

  .control:last-child {
    padding-top: 25px;
    padding-bottom: 19px;
  }
}
