.data__text {
  margin: 0;
  padding-top: 46px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: @blue-dark;
  text-align: center;
}

.data__text--bottom {
  text-transform: uppercase;
}

.data__text--star {
  color: @pink;
}
