.download {
  background-color: @blue;
}

.download__wrapper {
  padding-top: 26px;
  padding-bottom: 30px;
}

.download__remark {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: @white;
  text-align: center;
}

.download__button {
  margin-bottom: 32px;
}

.download__list {
  margin-bottom: 25px;
}
