.fieldset {
  position: relative;
  
  display: flex;
  flex-direction: column;

  padding: 0;
  padding-top: 0;
  padding-bottom: 0;

  border: none;
}

@media (min-width: @tablet-width) {
  .fieldset {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 57px;

    border: 2px solid @light-grey;

    &.fieldset--contacts {
      padding-top: 47px;
      padding-bottom: 0;
    }
    
    &.fieldset--radio {
      padding-top: 56px;
      padding-bottom: 14px;
    }

    &.fieldset--textarea {
      padding-top: 0;
      padding-bottom: 0;
    }
    
    &.fieldset--checkbox {
      padding-top: 57px;
      padding-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .fieldset {

    &.fieldset--contacts {
      display: flex;
      flex-direction: row;
    }

    &.fieldset--radio {
      max-width: 431px;
    }
  }
}

.fieldset__legend {
  margin: 0;
  padding-bottom: 41px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: @pink;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &.fieldset__legend--contacts {
    display: none;
  }

  &.fieldset__legend--textarea {
    position: absolute;
    top: -10px;
    left: 29%;
    
    padding-left: 35px;
    padding-right: 40px;
    
    background-color: @white;
  }
  
  &.fieldset__legend--radio {
    position: absolute;
    top: -10px;
    left: 20%;
    
    padding-left: 25px;
    padding-right: 25px;
    
    background-color: @white;
  }
  
  &.fieldset__legend--checkbox {
    position: absolute;
    top: -10px;
    left: 14%;
    
    display: inherit;
    
    padding-left: 35px;
    padding-right: 35px;

    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .fieldset__legend {
    padding-bottom: 0;

    &.fieldset__legend--contacts {
      position: absolute;
      top: -10px;
      left: 30%;
      
      display: inherit;
      
      padding-left: 24px;
      padding-right: 30px;

      background-color: @white;
    }
  }
}
