.fieldset {
  text-align: center;

  border: none;
}

.fieldset__legend {
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: @pink;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
