.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 42px;
}

.footer--index {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 21px;
    padding-bottom: 36px;
  }

  &.footer--photo {
    padding-top: 21px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding-top: 51px;
    padding-bottom: 70px;
  }

  &.footer--photo {
    padding-top: 85px;
  }
}

@media (min-width: @desktop-width) {
  .footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__social {
  padding-top: 39px;
  padding-bottom: 16px;
  width: 207px;
}

@media (min-width: @tablet-width) {
  .footer__social {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__social {
    padding: 0;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
}
