.form__fields {
  padding-top: 34px;
  padding-bottom: 22px;

  &.form__fields--second {
    padding-top: 29px;
  }
}

.form__choice {
  padding-top: 36px;

  background-color: @light-grey;

  &.form__choice--radio {
    padding-top: 39px;
  }
}

.form__footer {
  padding-top: 34px;
  padding-bottom: 42px;
}
