.logo {
  display: block;
  min-height: 23px;
  margin-top: 2px;

  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
}

.logo--footer {
  margin-left: 66px;
  min-height: 41px;

  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-repeat: no-repeat;
}
