.logo {
  display: block;
  width: 75px;
}

.logo--footer {
  margin-bottom: 45px;
  margin-left: 66px;
  min-height: 41px;
  min-width: 150px;

  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-repeat: no-repeat;
}
