 .main-nav {
  background-color: @blue-30;
}

.main-nav__elements {
  position: relative;

  min-height: 30px;
  padding: 20px;

  background-color: @blue-dark;
  border-bottom: 1px solid @black;
}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 26px;

  width: 27px;
  height: 24px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 27px;
  height: 5px;

  background-color: #ffffff;
}

.main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav__toggle::after {
  transform: rotate(-45deg);
}
