.motivation__wrapper {
  position: relative;
}

@media (min-width: @tablet-width) {
  .motivation__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.motivation__titles {
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .motivation__titles {
    padding-top: 55px;
  }
}

.motivation__text {
  margin: 0;
  padding-top: 30px;

  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  color: @blue-dark;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .motivation__text {
    padding-top: 0;

    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
    .motivation__text {
      font-size: 50px;
      line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
    .motivation__text--second-header {
      padding-left: 70px;
      padding-right: 70px;
  }
}

.motivation__text--footer {
  padding-right: 90px;
  padding-bottom: 17px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @black;
  text-align: left;
}

.motivation__block {
  padding-top: 85px;
  padding-bottom: 280px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .motivation__block {
    display: flex;

    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 310px;

    background-image: none;
  }
}

@media (min-width: @desktop-width) {
  .motivation__block {
    padding-left: 0;
  }
}

.motivation__item {
  padding-bottom: 5px;
}

@media (min-width: @tablet-width) {
  .motivation__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: @desktop-width) {
  .motivation__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.motivation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .motivation__list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .motivation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.motivation__title {
  margin: 0;
  padding-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-align: center;
}

@media (min-width: @desktop-width) {
  .motivation__title {
    font-size: 30px;
    line-height: 30px;
  }
}

.motivation__description {
  margin: 0;
  padding-bottom: 35px;

  font-size: 14px;
  line-height: 24px;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .motivation__description {
    padding-bottom: 10px;

    text-align: inherit;
  }
}

@media (min-width: @desktop-width) {
  .motivation__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.motivation__footer {
  display: none;

  padding-top: 60px;
  padding-bottom: 35px;
  padding-left: 309px;
}

@media (min-width: @tablet-width) {
  .motivation__footer {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .motivation__footer {
    padding-top: 20px;

    background-color: @light-grey;
  }
}

@media (min-width: @tablet-width) {
  .motivation__footer-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.motivation__description--footer {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.motivation__triangle {
  position: absolute;
  top: 210px;
  right: -20px;
}

.motivation__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @pink;
}
