.motivation {
  background-color: @light-grey;
}

.motivation__wrapper {
  background-color: @white;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.motivation__text {
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;

  color: @blue-dark;
}

.motivation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.motivation__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
}

.motivation__description {
  font-size: 14px;
  line-height: 10px;
}
