.motivation__wrapper {
  position: relative;
}

.motivation__titles {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .motivation__titles {
    padding-top: 55px;
  }
}

.motivation__text {
  margin: 0;

  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  color: @blue-dark;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .motivation__text {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: @tablet-width) {
  .motivation__text--second-header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.motivation__text--footer {
  padding-right: 145px;
  padding-bottom: 17px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @black;
  text-align: left;
}

.motivation__block {
  padding-top: 85px;
  padding-bottom: 280px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .motivation__block {
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 310px;

    background-image: none;
  }
}

.motivation__item {
  padding-bottom: 5px;
}

.motivation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.motivation__title {
  margin: 0;
  padding-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-align: center;
}

.motivation__description {
  margin: 0;
  padding-bottom: 35px;

  font-size: 14px;
  line-height: 24px;

  text-align: center;
}

.motivation__footer {
  display: none;

  padding-top: 60px;
  padding-bottom: 5px;
  padding-left: 310px;
}

@media (min-width: @tablet-width) {
  .motivation__footer {
    display: block;
  }
}

.motivation__description--footer {
  text-align: left;
}

.motivation__triangle {
  position: absolute;
  top: 210px;
  right: -20px;
}

.motivation__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @pink;
}
