.page-header {
  position: relative;

  width: 100%;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 325px;
  background-color: @blue-dark;
}

.page-header__top {
  position: absolute;

  width: 100%;
  top: 0;
  left: 0;
}

.page-header__bottom {
  min-height: 760px;

  background: url("../img/iphone-hand-mobile@1x.png") ~"calc(50% - 31px)" bottom no-repeat,
    url("../img/bg-back-mobile@1x.jpg") center bottom no-repeat;
}

.page-header__bottom--bg-photo {
  min-height: 535px;

  background: url("../img/bg-back-mobile@1x.jpg") center 410% no-repeat;
}

.page-header__title {
  position: absolute;
  top: 397px;
  left: 5px;

  margin: 0;

  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}
