.page-header {
  min-height: 400px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header .page-header--background {
  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__title {
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  line-height: 30px;

  color: @white;
}
