.photo {
  position: relative;

  margin-bottom: 20px;
}

.photo__item--panorama {
  min-height: 137px;
  width: 320px;
  margin: 0 auto;

  background-image: url("../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--car {
  min-height: 180px;

  background-image: url("../img/photo-car-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--drum {
  min-height: 180px;

  background-image: url("../img/photo-drumset-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--window {
  min-height: 180px;

  background-image: url("../img/photo-window-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--fair {
  min-height: 180px;

  background-image: url("../img/photo-fair-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--fair {
  min-height: 180px;

  background-image: url("../img/photo-fair-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--legs {
  min-height: 180px;

  background-image: url("../img/photo-pov-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__item--wing {
  min-height: 180px;

  background-image: url("../img/photo-wing-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.photo__title {
  position: absolute;
  top: 0;
  right: 0;

  padding: 6px 21px;

  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: @white;
  text-transform: uppercase;

  background-color: @pink;
}

.photo__wrap-footer {
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 17px;
  padding-right: 17px;

  background-color: #f2f2f2;
}

.photo__counter {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__text {
  font-size: 12px;
}

.photo__likes {
  font-size: 12px;
  color: @pink;
  text-transform: uppercase;
}
