.rate {
  background-color: @light-grey;
}

.rate__wrapper {
  padding-top: 65px;
  padding-bottom: 40px;
}

.rate__header {
  padding-top: 18px;
  padding-bottom: 19px;

  text-align: center;
}

.rate__item {
  width: 280px;/*временно*/
  padding: 13px;
  
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: @blue-dark;

  background-color: @white;
  border-right: 2px solid @light-grey;
  border-left: 2px solid @light-grey;
  border-bottom: 2px solid @light-grey;
}

.rate__table {
  margin-bottom: 40px;

  border-top: 0;
  border-collapse: collapse;
  border-bottom: 2px solid @light-grey;
  border-left: 2px solid @light-grey;
  border-right: 2px solid @light-grey;
}

.rate__toggles {
  margin: 0;

  text-align: center;
}
