.table-header {
  line-height: 30px;
  color: @white;
  text-transform: uppercase;

  background-color: @blue-dark;
}

.table-header__title {
  font-size: 18px;
  font-weight: 700;
}

.table-header__price {
  font-size: 24px;
  font-weight: 100;
}
